body {
    margin: 0;
    padding: 0;
    /*font-family: "";*/
}

.material-symbols-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.navbar-brand > .material-symbols-outlined {
    font-size: 30px;
}

#navbar-logo {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

#main-container-list {
    padding-top: 50px;
    padding-bottom: 70px;
}

#main-container-about-us {
    padding-top: 30px;
    padding-bottom: 0px;
}

#main-container {
    padding-bottom: 50px;
}

#main-container-about-project {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 360px) {
    #bee-image {
        position: relative;
        width: 60px;
        height: auto;
        z-index: 1;
        top: 10px;
        left: 15px;
        transform: rotate(20deg);
        transition: 0.5s;
        margin-bottom: -50px
    }

    #bee-image3 {
        float: right;
        position: relative;
        width: 60px;
        height: auto;
        z-index: 1;
        top: 20px;
        right: 15px;
        transform: rotate(180deg);
        transition: 0.5s;
        margin-bottom: -50px;
    }
}

@media (min-width: 360px) and (max-width: 576px) {
    #bee-image {
        position: relative;
        width: 60px;
        height: auto;
        z-index: 1;
        top: 20px;
        left: 30px;
        transform: rotate(20deg);
        transition: 0.5s;
        margin-bottom: -50px
    }

    #bee-image3 {
        float: right;
        position: relative;
        width: 60px;
        height: auto;
        z-index: 1;
        top: 30px;
        right: 30px;
        transform: rotate(180deg);
        transition: 0.5s;
        margin-bottom: -50px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #bee-image {
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: 40px;
        left: -20px;
        transform: rotate(20deg);
        transition: 0.5s;
        margin-bottom: -50px;
    }

    #bee-image3 {
        float: right;
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: 40px;
        right: 0px;
        transform: rotate(180deg);
        transition: 0.5s;
        margin-bottom: -50px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #bee-image {
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: 40px;
        left: -20px;
        transform: rotate(20deg);
        transition: 0.5s;
        margin-bottom: -50px;
    }

    #bee-image3 {
        float: right;
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: 40px;
        right: 0px;
        transform: rotate(180deg);
        transition: 0.5s;
        margin-bottom: -50px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #bee-image {
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: 40px;
        left: 0px;
        transform: rotate(20deg);
        transition: 0.5s;
        margin-bottom: -60px;
    }

    #bee-image3 {
        float: right;
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: 40px;
        right: 0px;
        transform: rotate(180deg);
        transition: 0.5s;
        margin-bottom: -50px;
    }
}

@media(min-width: 1200px) {
    #bee-image {
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: -10px;
        left: -30px;
        transform: rotate(20deg);
        transition: 0.5s;
        margin-bottom: -60px;
    }

    #bee-image2 {
        position: relative;
        width: 80px;
        height: auto;
        z-index: 1;
        top: 0px;
        left: -30px;
        transition: 0.5s;
    }

    #main-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

@media (min-width: 1200px) {
    #bee-image2 {
        display: block;
    }
    #bee-image3 {
        display: none;
    }
}

@media (max-width: 1200px) {
    #bee-image2 {
        display: none;
    }
    #bee-image3 {
        display: block;
    }
}

#display-map {
    /*color: var(--text-warning-color); */
    color: #ffc107;;
    transition: color 0.3s;
    text-decoration: underline;
}

#display-map:hover {
    color: black; /* Change color to black on hover */
}

.pagination .page-item .page-link {
    color: #ffc107;
    background-color: white;
    border-color: darkgray;
}
.pagination .page-item.active .page-link {
    color: white;
    background-color: #ffc107;
    border-color: darkgray;
}

.pagination-detail {
    display: none;
}

.fixed-table-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    border-collapse: collapse;
}

#table th, #table td {
    border: none;
}

.filter-control {
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-icon {
    font-size: 10px;
}

.gallery-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the thumbnails */
    gap: 10px; /* Adjust the gap as needed */
    margin-top: 20px; /* Space above the thumbnail row */
}

.img-thumbnail {
    cursor: pointer;
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add border, margin, or other styles as desired */
}







