<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Včeličky.sk</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <div th:replace="fragments :: links"></div>
</head>
<body>

    <div th:replace="fragments :: navbar"></div>

    <div class="bg-light mb-5" id="main-container-about-project">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-4 text-center">
                    <img src="/img/hive.png" class="bd-placeholder-img rounded-circle mb-2" width="160" height="160" alt="">
                    <h2 class="text-center">Project overview</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor dui nisl,
                        id varius nisi convallis vel.</p>
                    <p class="text-center"><a class="btn btn-outline-warning" href="#project-overview">View details »</a></p>
                </div>

                <div class="col-lg-4 text-center">
                    <img src="/img/signal.png" class="bd-placeholder-img rounded-circle mb-2" width="160" height="160" alt="">

                    <h2 class="text-center">Hardware</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor dui nisl,
                        id varius nisi convallis vel.</p>
                    <p class="text-center"> <a class="btn btn-outline-warning" href="#hardware">View details »</a></p>
                </div>

                <div class="col-lg-4 text-center">
                    <img src="/img/mobile2.png" class="bd-placeholder-img rounded-circle mb-2" width="160" height="160" alt="">

                    <h2 class="text-center">Software</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor dui nisl,
                        id varius nisi convallis vel.</p>
                    <p class="text-center"><a class="btn btn-outline-warning" href="#software">View details »</a></p>
                </div>
            </div>
        </div>
    </div>

    <section class="page-section mb-5">
        <div class="container">
            <hr class="divider my-4">

            <div class="row" id="project-overview">
                <div class="col-md-12 col-lg-7 col-xl-7">
                    <h2>Project overview</h2>
                    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi tempor dui nisl, id varius nisi convallis vel.
                        Suspendisse sit amet felis orci. Donec aliquet nisl ac sapien mattis,
                        vitae sollicitudin libero porta. Curabitur ante ipsum, lacinia sed molestie vel,
                        consequat eu felis. Suspendisse dapibus, eros sit amet porttitor imperdiet, nisi l
                        orem mollis ligula, in mattis mi massa nec quam. Donec facilisis urna et nulla efficitur,
                        quis finibus nunc condimentum. Duis cursus mi ut ex vulputate gravida. Ut placerat quam eu
                        laoreet interdum. Nam id pellentesque mauris, a rutrum dolor. Etiam ut elit orci. Sed luctus
                        nisi purus, in auctor urna scelerisque vel. Aliquam vel nunc sed lacus pretium posuere. </p>

                       <p style="text-align: justify"> Mauris nibh risus, ornare ac augue vel, cursus tempor leo. Vestibulum consectetur magna quis est
                        fringilla feugiat. Sed finibus eget mauris in dapibus. Phasellus at eleifend quam. Etiam varius, l
                        acus vel tempor vehicula, nibh libero luctus arcu, vitae mattis augue metus eget ex. Cras a sagittis
                        est. Maecenas luctus fermentum fringilla. Etiam dignissim arcu ac tortor iaculis mollis. Maecenas at
                        vestibulum ex. In in commodo risus, vitae commodo enim. Pellentesque efficitur, justo quis rutrum cursus,
                        metus ex tempor nunc, vel fringilla mi massa ac felis. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Integer vestibulum ante et felis convallis, a euismod tellus tempus. Nulla ultrices, arcu a ullamcorper
                        feugiat, ipsum ante aliquet metus, in porta lectus eros in nunc. In quis placerat ligula, sed vehicula nulla.</p>
                </div>
                <div class="col-md-12 col-lg-5 col-xl-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="/img/template.svg"  alt=""/>
                </div>
            </div>

            <hr class="divider my-4">

            <div class="row" id="hardware">
                <div class="col-md-12 col-lg-7 col-xl-7 order-md-2">
                    <h2>Hardware</h2>
                    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi tempor dui nisl, id varius nisi convallis vel.
                        Suspendisse sit amet felis orci. Donec aliquet nisl ac sapien mattis,
                        vitae sollicitudin libero porta. Curabitur ante ipsum, lacinia sed molestie vel,
                        consequat eu felis. Suspendisse dapibus, eros sit amet porttitor imperdiet, nisi l
                        orem mollis ligula, in mattis mi massa nec quam. Donec facilisis urna et nulla efficitur,
                        quis finibus nunc condimentum. Duis cursus mi ut ex vulputate gravida. Ut placerat quam eu
                        laoreet interdum. Nam id pellentesque mauris, a rutrum dolor. Etiam ut elit orci. Sed luctus
                        nisi purus, in auctor urna scelerisque vel. Aliquam vel nunc sed lacus pretium posuere. </p>

                    <p style="text-align: justify"> Mauris nibh risus, ornare ac augue vel, cursus tempor leo. Vestibulum consectetur magna quis est
                        fringilla feugiat. Sed finibus eget mauris in dapibus. Phasellus at eleifend quam. Etiam varius, l
                        acus vel tempor vehicula, nibh libero luctus arcu, vitae mattis augue metus eget ex. Cras a sagittis
                        est. Maecenas luctus fermentum fringilla. Etiam dignissim arcu ac tortor iaculis mollis. Maecenas at
                        vestibulum ex. In in commodo risus, vitae commodo enim. Pellentesque efficitur, justo quis rutrum cursus,
                        metus ex tempor nunc, vel fringilla mi massa ac felis. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Integer vestibulum ante et felis convallis, a euismod tellus tempus. Nulla ultrices, arcu a ullamcorper
                        feugiat, ipsum ante aliquet metus, in porta lectus eros in nunc. In quis placerat ligula, sed vehicula nulla.</p>
                </div>
                <div class="col-md-12 col-lg-5 col-xl-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="/img/template.svg"  alt=""/>
                </div>
            </div>

            <hr class="divider my-4">

            <div class="row" id="software">
                <div class="col-md-12 col-lg-7 col-xl-7">
                    <h2>Software</h2>
                    <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi tempor dui nisl, id varius nisi convallis vel.
                        Suspendisse sit amet felis orci. Donec aliquet nisl ac sapien mattis,
                        vitae sollicitudin libero porta. Curabitur ante ipsum, lacinia sed molestie vel,
                        consequat eu felis. Suspendisse dapibus, eros sit amet porttitor imperdiet, nisi l
                        orem mollis ligula, in mattis mi massa nec quam. Donec facilisis urna et nulla efficitur,
                        quis finibus nunc condimentum. Duis cursus mi ut ex vulputate gravida. Ut placerat quam eu
                        laoreet interdum. Nam id pellentesque mauris, a rutrum dolor. Etiam ut elit orci. Sed luctus
                        nisi purus, in auctor urna scelerisque vel. Aliquam vel nunc sed lacus pretium posuere. </p>

                    <p style="text-align: justify"> Mauris nibh risus, ornare ac augue vel, cursus tempor leo. Vestibulum consectetur magna quis est
                        fringilla feugiat. Sed finibus eget mauris in dapibus. Phasellus at eleifend quam. Etiam varius, l
                        acus vel tempor vehicula, nibh libero luctus arcu, vitae mattis augue metus eget ex. Cras a sagittis
                        est. Maecenas luctus fermentum fringilla. Etiam dignissim arcu ac tortor iaculis mollis. Maecenas at
                        vestibulum ex. In in commodo risus, vitae commodo enim. Pellentesque efficitur, justo quis rutrum cursus,
                        metus ex tempor nunc, vel fringilla mi massa ac felis. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Integer vestibulum ante et felis convallis, a euismod tellus tempus. Nulla ultrices, arcu a ullamcorper
                        feugiat, ipsum ante aliquet metus, in porta lectus eros in nunc. In quis placerat ligula, sed vehicula nulla.</p>
                </div>
                <div class="col-md-12 col-lg-5 col-xl-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" src="/img/template.svg"  alt="testicek"/>
                </div>
            </div>

        </div>
    </section>

    <div th:replace="fragments :: footer"></div>

</body>
</html>
