<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Včeličky.sk</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <div th:replace="fragments :: links"></div>
</head>
<body>
<div class="container-fluid px-0">

    <div th:replace="fragments :: navbar"></div>

    <div class="bg-light mb-5" id="main-container">
        <div class="container">
            <div class="row align-items-center">
                <div class=" col-xl-6 col-xxl-6">
                    <img src="/img/bee.png" id="bee-image" class="img-fluid" alt="Image">
                    <img src="/img/bee2.png" id="bee-image3" class="img-fluid" alt="Image">
                    <div class="my-5">
                        <h2 class="text-center fw-bold mb-2">Bee hives</h2>
                        <h2 class="text-warning text-center fw-bold mb-2"> monitoring via IoT</h2>
                        <p class="lead text-muted mb-2 text-center">
                            „If the bee disappeared off the surface of the globe then man would only have four years of
                            life left.
                            No more bees, no more pollination, no more plants, no more animals, no more man.“
                        </p>
                        <hr class="text-center divider my-2" style="width: 60px; margin: 0 auto;">
                        <h5 class=" text-center fw-bold mb-4">Have data about your bee hives at one place</h5>
                        <div class="d-grid gap-3 d-sm-flex justify-content-center">
                            <a class="btn btn-warning btn-large text-uppercase" href="http://165.22.17.201/login" target="_blank">
                                Login to IoT platform
                            </a>
                            <a class="btn btn-outline-warning btn-large text-uppercase" href="/about-project">
                                About project
                            </a>
                        </div>
                    </div>
                    <img src="/img/bee2.png" id="bee-image2" class="img-fluid" alt="Image">
                </div>
                <div class="col-xl-6 col-xxl-6 justify-content-center">
                    <h4 class="text-center fw-bold mb-2">Map of monitored bee hives</h4>
                    <div class="bg-light rounded-3 my-3"
                         style="  justify-content: center; align-items: center; display: flex; height: 300px;">
                        <div id="map" style="width: 100%; height: 100%;"></div>
                    </div>
                    <h5 class="text-center fw-bold mb-2"><a href="/list" id="display-map">Show list of monitored bee
                        hives</a></h5>
                </div>
            </div>
        </div>
    </div>

    <section class="page-section mb-5">
        <div class="container">
            <h2 class="text-center mt-0">We deliver</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-microchip text-warning mb-4"></i>
                        <h3 class="h5 mb-2">Monitoring of your bee hives via our HW solution</h3>
                        <p class="text-muted mb-0" style="text-align: justify">We monitor bees' frequency, hive weight, temperatures,
                            humidity and hive tipping over and transfer data utilizing Sigfox or other IoT technology to
                            data center</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-bell text-warning mb-4"></i>
                        <h3 class="h5 mb-2">You can have good and peaceful sleep </h3>
                        <p class="text-muted mb-0" style="text-align: justify">We alert a beekeeper in case of emergency or when bees need his
                            help.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-warning mb-4"></i>
                        <h3 class="h5 mb-2">Always accurate data about bee hives in your hand</h3>
                        <p class="text-muted mb-0" style="text-align: justify">Your bees are kept an eye on. Anytime. Anywhere from your smartphone,
                            in effective manner.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-warning mb-4"></i>
                        <h3 class="h5 mb-2">Innovative ecological solution </h3>
                        <p class="text-muted mb-0" style="text-align: justify">Effective utilization of current IT technologies for ecological purpose.
                            Connection of people with heart and IT technologies for better future of bees.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>

    </main>

    <div th:replace="fragments :: footer"></div>
</div>

<script th:inline="javascript" src="/js/mapa.js"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    let geoJsonData = /*[[${geoJsonData}]]*/ '{}';
    /*]]>*/

    getGeoJsonData(geoJsonData);

    window.onload = function() {
        // Get all elements with class 'pagination'
        let paginationElements = document.getElementsByClassName('pagination');

        // Loop through each pagination element
        for (let i = 0; i < paginationElements.length; i++) {
            // Remove the class 'float-right' from each pagination element
            paginationElements[i].classList.remove('float-right');
        }
    };
</script>

</body>
</html>